[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Source/Sampler"]
	path = Source/Sampler
	url = https://github.com/DBraun/Sampler
[submodule "thirdparty/faust"]
	path = thirdparty/faust
	url = https://github.com/grame-cncm/faust
[submodule "thirdparty/rubberband"]
	path = thirdparty/rubberband
	url = https://github.com/breakfastquay/rubberband/
[submodule "thirdparty/libsamplerate"]
	path = thirdparty/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
