build
wheelhouse/*
.DS_Store
*/**.so
*.xcuserstate
.idea
*.pyc
*.ipynb_checkpoints

# These files are copied into this folder during setup.py
dawdreamer/*.dll
dawdreamer/*.pyd
dawdreamer/architecture/*
dawdreamer/faustlibraries/*
dawdreamer/libfaust.2.dylib
dawdreamer/licenses/*
dawdreamer/__pycache__
__pycache__/*
dawdreamer.egg-info/*
dist/*

# vs code configuration
.vscode/*