build
wheelhouse/*
.DS_Store
*/**.so
*.xcuserstate

# These files are copied into this folder during setup.py
dawdreamer/*.dll
dawdreamer/*.pyd
dawdreamer/faustlibraries/*
dawdreamer/libfaust.2.dylib
dawdreamer/licenses/*
dawdreamer/__pycache__
__pycache__/*
dawdreamer.egg-info/*
dist/*