build
.DS_Store
*/**.so

# These files are copied into this folder during setup.py
dawdreamer/*.dll
dawdreamer/*.pyd
dawdreamer/faustlibraries/*
dawdreamer/licenses/*
__pycache__/*
dawdreamer.egg-info/*
dist/*