appdirs==1.4.4
audioread==2.1.8
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
decorator==4.4.2
idna==2.10
joblib==0.16.0
librosa==0.8.0
llvmlite==0.33.0
numba==0.50.1
numpy==1.19.1
packaging==20.4
pooch==1.1.1
pycparser==2.20
pyparsing==2.4.7
requests==2.24.0
resampy==0.2.2
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
urllib3==1.25.10
