<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>TAL-NoiseMaker</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>ch.toguaudioline.talnoisemaker</string>
    <key>CFBundleName</key>
    <string>TAL-NoiseMaker</string>
    <key>CFBundleDisplayName</key>
    <string>TAL-NoiseMaker</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>4.7.0</string>
    <key>CFBundleVersion</key>
    <string>4.7.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>TAL-Togu Audio Line: TAL-NoiseMaker</string>
        <key>description</key>
        <string>TAL-NoiseMaker</string>
        <key>factoryFunction</key>
        <string>TalNoiseMakerAUFactory</string>
        <key>manufacturer</key>
        <string>TOGU</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>ncut</string>
        <key>version</key>
        <integer>263936</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
