<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>ValhallaFreqEcho</string>
			<key>factoryFunction</key>
			<string>ValhallaFreqEchoAUFactory</string>
			<key>manufacturer</key>
			<string>oDin</string>
			<key>name</key>
			<string>Valhalla DSP, LLC: ValhallaFreqEcho</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>FqEh</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>66053</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>20C69</string>
	<key>CFBundleDisplayName</key>
	<string>ValhallaFreqEcho</string>
	<key>CFBundleExecutable</key>
	<string>ValhallaFreqEcho</string>
	<key>CFBundleIdentifier</key>
	<string>com.ValhallaDSP.ValhallaFreqEcho</string>
	<key>CFBundleName</key>
	<string>ValhallaFreqEcho</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12C33</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1230</string>
	<key>DTXcodeBuild</key>
	<string>12C33</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2020, Valhalla DSP, LLC. All Rights Reserved.</string>
</dict>
</plist>
