<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Xfer Records: Dimension Expander</string>
			<key>factoryFunction</key>
			<string>SymbiosisFactory</string>
			<key>manufacturer</key>
			<string>XFER</string>
			<key>name</key>
			<string>Xfer Records: Dimension Expander</string>
			<key>subtype</key>
			<string>XfDE</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>66052</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>19H15</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DimensionExpander</string>
	<key>CFBundleIdentifier</key>
	<string>com.xfer.DimExp.AU</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DimensionExpander</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>SYConfig</key>
	<dict>
		<key>AutoConvertPresets</key>
		<false/>
		<key>CanDoMonoIO</key>
		<false/>
		<key>DisableStereoSupport</key>
		<false/>
		<key>PresetIsFXB</key>
		<false/>
		<key>UpdateNameOnLoad</key>
		<true/>
	</dict>
	<key>VSTWindowCompositing</key>
	<true/>
	<key>com.apple.security.get-task-allow</key>
	<true/>
</dict>
</plist>
