name: Compile, Test, and Deploy
on:
  pull_request: {}
  push:
    branches:
      - main
      - 'feature/linux-github-action'
  release:
    types: [published]
jobs:

  build-ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Ubuntu dependencies
      # todo: need to run this? update-ca-certificates \
      run: |
        sudo apt-get update -yq \
        && sudo apt-get install -yq --no-install-recommends \
        ca-certificates \
        build-essential \
        clang \
        pkg-config \
        libboost-all-dev \
        libboost-python-dev \
        libfreetype6-dev \
        libx11-dev \
        libxinerama-dev \
        libxrandr-dev \
        libxcursor-dev \
        mesa-common-dev \
        libasound2-dev \
        freeglut3-dev \
        libxcomposite-dev \
        libcurl4-gnutls-dev \
        git \
        cmake \
        python3 \
        python${{ matrix.python-version }}-dev \
        faust \
        libsamplerate0 \
        libsndfile1 \
        llvm-11 \
        llvm-11-dev \
        && sudo apt-get clean -y

    - name: Make symantic links
      run: |
        sudo ln -s /usr/bin/llvm-config-11 /usr/bin/llvm-config
        sudo ln -s /usr/lib/x86_64-linux-gnu/libsamplerate.so.0 /usr/local/lib/libsamplerate.so

    - name: Build DawDreamer
      run: |
        CPLUS_INCLUDE_PATH=/usr/include/python${{ matrix.python-version }}/
        cd Builds/LinuxMakefile
        sudo ldconfig
        make CONFIG=Release
        cp build/libdawdreamer.so ../../tests/dawdreamer.so

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel numpy librosa scipy

    - name: Checkout faustlibraries
      uses: actions/checkout@v2
      with:
        repository: grame-cncm/faustlibraries
        path: faustlibraries

    - name: copy faust libraries
      # necessary for setup.py to work.
      run: |
        cp -v -r faustlibraries dawdreamer
        rm -rf dawdreamer/faustlibraries/.git

    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel>=2.3.1

    # I think the audit is failing because the build links against local LLVM-related things.
    #  or https://cibuildwheel.readthedocs.io/en/stable/faq/#linux-builds-on-docker
    - name: Build wheels
      run: |
        python -m cibuildwheel --output-dir wheelhouse --platform linux
      env:
        PYTHONMAJOR: ${{ matrix.python-version }}
        CIBW_PLATFORM: linux
        CIBW_BUILD_VERBOSITY: 1
        CIBW_REPAIR_WHEEL_COMMAND_LINUX: pip install auditwheel-symbols && (auditwheel repair -w {dest_dir} {wheel} || auditwheel-symbols --manylinux 2010 {wheel})
        CIBW_TEST_REQUIRES: -r test-requirements.txt
        CIBW_TEST_COMMAND: "cd {project}/tests && python -m pytest ."
        CIBW_ARCHS: auto64
        CIBW_SKIP: "*pp* *p36-* *p37-* *p38-* *p310-*"

    - uses: actions/upload-artifact@v2
      with:
        name: my-wheel-artifact
        path: ./wheelhouse/*.whl

  build-ubuntu-docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel pytest numpy librosa scipy

    - name: Build Docker image
      run: docker build -t dawdreamer .

    # todo: enable this
    # note that the Dockerfile pulls the main branch!
    # - uses: addnab/docker-run-action@v3
    #   with:
    #     image: dawdreamer
    #     run: |
    #       echo "Running tests"
    #       cd /DawDreamer/tests
    #       python -m pytest -s .

  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - { os: windows-latest, python-version: "3.7", CIBW-BUILD: "cp37*"}
        - { os: windows-latest, python-version: "3.8", CIBW-BUILD: "cp38*"}
        - { os: windows-latest, python-version: "3.9", CIBW-BUILD: "cp39*"}

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel numpy librosa scipy

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.3

    - name: Get CMake
      uses: lukka/get-cmake@latest

    - name: Checkout faustlibraries
      uses: actions/checkout@v2
      with:
        repository: grame-cncm/faustlibraries
        path: faustlibraries

    - name: copy faust libraries
      # necessary for setup.py to work.
      run: |
        cp -v -r faustlibraries dawdreamer

    - name: Build libsamplerate
      run: |
        cd thirdparty/libsamplerate
        mkdir build_release
        cmake -DCMAKE_BUILD_TYPE=Release -Bbuild_release
        cd build_release
        msbuild libsamplerate.sln /property:Configuration=Release

    - name: Build Windows (Release)
      run: |
        msbuild Builds/VisualStudio2019/DawDreamer.sln /property:Configuration=Release

    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel>=2.3.1

    - name: Build Wheels
      run: |
        python -m cibuildwheel --output-dir wheelhouse
      env:
        PYTHONMAJOR: ${{ matrix.python-version }}
        CIBW_BUILD_VERBOSITY: 1
        CIBW_TEST_REQUIRES: -r test-requirements.txt
        CIBW_TEST_COMMAND: "cd /D {project}\\tests && python -m pytest ."
        CIBW_ARCHS: auto64
        CIBW_BUILD: ${{matrix.CIBW-BUILD}}

    - uses: actions/upload-artifact@v2
      with:
        name: my-wheel-artifact
        path: ./wheelhouse/*.whl

    - name: "Build docs for GitHub pages"
      if: ${{ matrix.python-version == '3.8' && github.event_name == 'release' && github.event.action == 'published' }}
      shell: cmd
      run: |
        pip install -U sphinx
        cd docs && make.bat html
    - name: Deploy docs
      uses: peaceiris/actions-gh-pages@v3
      # todo: make condition for being on main branch
      if: ${{ matrix.python-version == '3.8' && github.event_name == 'release' && github.event.action == 'published' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html

  build-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - { os: macos-latest, build: cp37-macosx_x86_64, archs-macos: "x86_64", python-version: "3.7", osx-archs: "x86_64", ARCHS: "x86_64", python-major: "3.7m" }
        - { os: macos-latest, build: cp38-macosx_universal2, archs-macos: "universal2", python-version: "3.8", osx-archs: "x86_64;arm64", ARCHS: "x86_64 arm64", python-major: "3.8" }
        - { os: macos-latest, build: cp39-macosx_universal2, archs-macos: "universal2", python-version: "3.9", osx-archs: "x86_64;arm64", ARCHS: "x86_64 arm64", python-major: "3.9" }
        - { os: macos-latest, build: cp310-macosx_universal2, archs-macos: "universal2", python-version: "3.10", osx-archs: "x86_64;arm64", ARCHS: "x86_64 arm64", python-major: "3.10" }

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Get CMake
      uses: lukka/get-cmake@latest

    - name: Build libsamplerate
      run: |
        cd thirdparty/libsamplerate
        mkdir build_release
        cmake -DCMAKE_BUILD_TYPE=Release -Bbuild_release -DCMAKE_OSX_ARCHITECTURES="${{matrix.osx-archs}}" -DLIBSAMPLERATE_EXAMPLES=off -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15
        make --directory=build_release
        cd ../..

    - name: Checkout faustlibraries
      uses: actions/checkout@v2
      with:
        repository: grame-cncm/faustlibraries
        path: faustlibraries

    - name: copy faust libraries
      # necessary for setup.py to work.
      run: |
        cp -v -r faustlibraries dawdreamer
        rm -rf dawdreamer/faustlibraries/.git

    - name: Build wheels ${{ matrix.python-version }}
      uses: pypa/cibuildwheel@v2.3.1
      env:
        # note that the Projucer project refers to PYTHONMAJOR and pythonLocation, so they must be set here
        PYTHONMAJOR: ${{ matrix.python-major }}
        MACOSX_DEPLOYMENT_TARGET: 10.15
        CIBW_BUILD_VERBOSITY: 1
        CIBW_BEFORE_BUILD: |
          export pythonLocation=$(python3-config --prefix)
          otool -L $pythonLocation/bin/python3
          xcodebuild ARCHS="${{matrix.ARCHS}}" ONLY_ACTIVE_ARCH=NO -configuration Release -project Builds/MacOSX/DawDreamer.xcodeproj/
          mv Builds/MacOSX/build/Release/dawdreamer.so.dylib Builds/MacOSX/build/Release/dawdreamer.so
          otool -L Builds/MacOSX/build/Release/dawdreamer.so
          install_name_tool -change @rpath/libfaust.2.dylib @loader_path/libfaust.2.dylib Builds/MacOSX/build/Release/dawdreamer.so
          otool -L Builds/MacOSX/build/Release/dawdreamer.so
        CIBW_TEST_REQUIRES: -r test-requirements.txt
        CIBW_TEST_COMMAND: "cd {project}/tests; python -m pytest -s ."
        CIBW_BUILD: ${{matrix.build}}
        CIBW_ARCHS: auto64
        CIBW_ARCHS_MACOS: ${{matrix.archs-macos}}
        # todo: want to test Python 3.10
        CIBW_TEST_SKIP: "*310*"

    - uses: actions/upload-artifact@v2
      with:
        name: my-wheel-artifact
        path: ./wheelhouse/*.whl

  upload-pypi:
    needs: [build-windows, build-ubuntu, build-macos]
    runs-on: ubuntu-latest
    name: "Upload wheels to PyPI"
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: my-wheel-artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
